<launch>
<!-- Please note that this is only an example!
     It is not guaranteed to work with your setup but can be used as a starting point. -->
  <arg name="teleop_config" default="$(find robotito)/cfg/joy_teleop_example.yaml" />
  <arg name="joy_dev" default="/dev/input/js0"/>


  <node pkg="joy" type="joy_node" name="joy">
	<param name="dev" value="$(arg joy_dev)"/>
  </node>

  <rosparam file="$(arg teleop_config)" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
  </node>
  
  <node pkg="topic_tools" type="throttle" name="cmd_vel_throttle" args="messages /cmd_vel 10">
  </node>

  <node pkg="robotito" type="pilot" name="pilot" output="screen">
  	<remap from="~cmd_vel" to="/cmd_vel_throttle"/>
  	
  </node>
  
</launch>
