<launch>
  <arg name="model" default="$(find robotito)/urdf/robot.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />
  <node pkg="tf" type="static_transform_publisher" name="marker_robot" args="0 0 -.05 0 0 0 ar_marker_0 base 100" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Publish cameras positions -->
  <node pkg="tf" type="static_transform_publisher" name="stingray1_tf" args="1.05 0.4 2.54 -1.57 0 3.14 map stingray1 100" />

  <node pkg="tf" type="static_transform_publisher" name="stingray2_tf" args="-1.05 0 2.54 -1.57 0 3.14 	 map stingray2 100" />
  <node pkg="camera1394" type="camera1394_node" name="stingray1" >
    <rosparam file="$(find robotito)/cfg/stingray1.yaml" />
    <remap from="/camera/image_raw" to="/stingray1/image_raw"/>
    <remap from="/camera/camera_info" to="/stingray1/camera_info"/>
  </node>
  
  <node pkg="camera1394" type="camera1394_node" name="stingray2" >
    <rosparam file="$(find robotito)/cfg/stingray2.yaml" />
    <remap from="/camera/image_raw" to="/stingray2/image_raw"/>
    <remap from="/camera/camera_info" to="/stingray2/camera_info"/>
  </node>


  <arg name="marker_size" default="13.0" />
  <arg name="max_new_marker_error" default="0.2" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic1" default="/stingray1/image_raw" />
  <arg name="cam_info_topic1" default="/stingray1/camera_info" />
  <!-- Transforms are published from a fake frame to allow a node to merge
       both estimates and publish a single one. -->  
  <arg name="output_frame1" default="/stingray1" />

  <node name="ar_track_alvar1" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic1) $(arg cam_info_topic1) $(arg output_frame1)" >
    <param name="tf_prefix_ar" value="stingray1/"/>
  </node> 

  <arg name="cam_image_topic2" default="/stingray2/image_raw" />
  <arg name="cam_info_topic2" default="/stingray2/camera_info" />
  <arg name="output_frame2" default="/stingray2" />
  
  <node name="ar_track_alvar2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic2) $(arg cam_info_topic2) $(arg output_frame2)" ns="stingray2">
    <param name="tf_prefix_ar" value="stingray2/"/>
  </node> 
  
  <node pkg="robotito" type="pose_publisher.py" name="pose_publisher" output="screen"/>

</launch>
